.form-container {
  height: 30vh;
  display: flex !important;
  align-items: center;

  .form-wrapper {
    width: 76%;
    height: 235px;
    padding: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    color: #757575;

    .form-title {
      font-weight: 900;
      font-size: 30px;
      color: #757575;
    }

    .dropdown {
      width: 10%; 
    }

    .form-people {
      margin-top: 3px;
      padding: 6px;
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      button {
        width: 160px;
      }
    }
  }
}
