.form-container {
  height: 30vh;
  display: flex !important;
  align-items: center;
  margin-top: -10px;

  .form-wrapper {
    width: 76%;
    height: 205px;
    padding: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    color: #757575;

    .form-title {
      font-weight: 900;
      font-size: 30px;
    }

    .form-personen {
      display: flex;
      align-items: center;
    }

    .form-footer {
      display: flex;
      justify-content: space-between;

      button {
        width: 160px;
      }
    }
  }
}
