.form-container {
  min-height: 30vh;
  display: flex !important;
  align-items: center;
  margin-top: 40px;
  margin-bottom: -20px;

  .form-wrapper {
    width: 76%;
    height: 235px;
    padding: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 14px;
    color: #757575;

    .form-title {
      font-weight: 900;
      font-size: 30px;
      color: #757575;
    }

    .form-email {
      margin-right: 10px;
      position: relative;

      .form-email-msg {
        margin: 0;
        position: absolute;
      }
    }
    .form-dropdown {
      min-width: 10px;
      max-height: 10px; 
    }

    .form-people {
      margin-top: 3px;
      padding: 6px;
      margin-left: 5px;
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      button {
        width: 160px;
      }
    }
  }
}
